span{
    font-family: Courier;font-size: 200%; 
    font-weight: bold;
}
ul{
    float: left;
}
li{
    margin: 0 20px 0 20px;
}

li > a:hover, li:hover{
    border-bottom: 1px solid white;
    color: white;
}

li > a{
    font-family: Helvetica;
    font-size: 125%;
    color: #9e9e9e;
}
