<nav class="navbar navbar-inverse" style="background-color: #136ea0;">
  <!--<div class="container-fluid" >-->
    <div class="navbar-header">
      <a class="navbar-brand" style="margin: 0 15px 0 15px; float: left;">
       <img id="app_logo" src="https://requestreduce.org/images/clip-art-with-books-13.jpg" style="height: 30px; 
       margin-top: 15px"/>
       <span id="app_name">BookList</span></a>
       <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/stats" routerLinkActive="active">Stats</a></li>
        <li><a routerLink="#">Documentation</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      </ul>
    </div>
</nav>